<div class="img1 ">

<div class="row " >
  <div class="col-sm-1"></div>

<div class='col-sm-2 top-margin' >
  <nav class="navbar  navbar-expand-md navbar-light " >
    <a href="#" class="navbar-brand ">Tour<span style="color: #00D8FF;">Nest</span></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    </nav>
</div>
<div class="col-sm-8 top-margin2">
  <nav class="navbar navbar-expand-md navbar-light " >
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto ">
            <a href="#" class=" nav-item  txt-style text-clr  ml-3 ">Home</a>
            <a href="#" class="nav-item txt-style text-clr ml-3">Destination</a>
            <a href="#" class="nav-item  txt-style text-clr ml-3">Packages</a>
            <a href="#" class="nav-item  txt-style text-clr ml-3">SpecialOffers</a>
            <a href="#" class="nav-item txt-style text-clr ml-3">Blog</a>
            <a href="#" class="nav-item  txt-style text-clr ml-3">Subscription</a>
            <div class="col-md-4 col-lg-4"><button type="button" class="btn book-btn " href="#">Book Now</button></div>
           </div>
    </div>
  </nav>
</div>
<div class='col-sm-1'></div>
</div>
<div class="row">
  <div class='col-sm-1'></div>
  <div class="col-sm-10">
    <h2 class="h2-style ml-3">
  <!-- <pre class="h2-style"> -->
     Explore the Beauty<br>
     of the Beatiful<br>
     India
    <!-- </pre> -->
    </h2>
    <div class="col-md-4 col-lg-4">
      <button type="button" class="btn explore-btn mt-1" href="#">EXPLORE NOW</button>
    </div>
  </div>
  <div class='col-sm-1'></div>
</div>
</div>
